@model IEnumerable<MovieRental.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Daily Ops - All Movies</h2>

<table class="table">
    <tr>
        <th>
            <span>ID</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <span>Year Released</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            <span>Genre</span>
        </th>
        <th>
            <span>Checked Out</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @switch(item.GenreID)
                {
                    case 1:
                        <span>Horror</span>
                        break;
                    case 2:
                        <span>Fantasy</span>
                        break;
                    case 3:
                        <span>Action</span>
                        break;
                    case 4:
                        <span>Comedy</span>
                        break;
                    default:
                        <span>Nothing Here</span>
                        break;
            }
        </td>
        <td>
            @if(item.IsCheckedOut == true)
            {
                <span>True</span>
            } else if(item.IsCheckedOut == false)
            {
                <span>False</span>
            }
        </td>
        <td>
            @if(item.IsCheckedOut.ToString() == "True")
            {
                @Html.ActionLink("Check In", "CheckInMovie", "Rental", new { id = item.ID }, null);
            }
            else if(item.IsCheckedOut.ToString() == "False")
            {
                @Html.ActionLink("Check Out", "CustomersForCheckout", "Rental", new { id = item.ID }, null);
            }
        </td>
    </tr>
}

</table>
