@model IEnumerable<MovieRental.Models.Genre>

<h1>All Genres</h1>
<p>
    @Html.ActionLink("Create New", "CreateGenre")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditGenre", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteGenre", new { id=item.ID })
        </td>
    </tr>
}

</table>
